<% if @sub_category_items.empty?%>
	<p> No Sub Category found</p>
<% else %>
	<div class="category">
		<% @sub_category_items.each do |item|%>
			<div class="card">
				<div class="card-header"><%= item.name%></div>
				<div class="card-body">
					<%products = Product.where(sub_cat_id: 2)%>
						<div class="row">
							<%products.each do |p|%>
								<div class="col-md-3">
									<img src="<%= p.image_url%>"><br/>
									<span style="font-size: 12px"><%= p.name%></span>
								</div>
							<%end%>
					</div>			
				</div>
			</div>
		<%end%>
	</div>
<% end %>


<style type="text/css">
	.card {
		height: 350px;
		padding: 10px; 
	}
	img {
		width: 200px;
		height: 200px;
	}
</style>